body {
    background-color: rgb(223, 220, 220);
    font-family: sans-serif, "Times New Roman";
}

h1 {
    width: 150px;
    text-align: center;
    color: blue;
    background-color: rgb(239, 241, 243);
    border-style: outset;
    border-radius: 10px;
    border-color: rgb(47, 105, 231);
    border-width: 10px;
    padding: 7px;
}

img {
    height: auto;
    width: 450px;
    border-style: outset;
    border-radius: 5px;
    border-color: rgb(130, 165, 241);
    border-width: 5px;
   }

   button {
    background-color: rgb(64, 64, 97);
    color: aliceblue;
    border-radius: 5px;
    font-size: large;
    margin: 40px;
    margin-left: 200px;
   }